footer.footer
    div.footer-contents
      div 
        Dropdown
        div.country-selector
          select#countryDropdown
            option(value="us" selected) 🇺🇸 United States (English)
            option(value="uk") 🇬🇧 United Kingdom
            option(value="ca") 🇨🇦 Canada
            option(value="au") 🇦🇺 Australia
            option(value="in") 🇮🇳 India

      div.footer-menus
        div.menu
          h4 Company
          ul
            li: a.link(href='/blog') Blog
            li: a.link(href='/careers') Careers
            li: a.link(href='/news') News

        div.menu
          h4 Account
          ul
            li: a.link(href='/login') Login
            li: a.link(href='/signup') Sign Up
            li: a.link(href='/settings') Settings

        div.menu
          h4 Support
          ul
            li: a.link(href='/help') FAQs
            li: a.link(href='/faq') Private Policy
            li: a.link(href='/contact') Terms of Use

        div.menu
          h4 About Us
          ul
            li: a.link(href='/about') About GoHire
            li: a.link(href='/team') Explore Jobs
            li: a.link(href='/privacy') Contact Us

    div.footer-social
        div.social-links
          a(href='https://www.facebook.com')
            img(src='/assets/images/facebook.svg' alt='Facebook')
          a(href='https://www.twitter.com')
            img(src='/assets/images/x.svg' alt='X')
          a(href='https://www.linkedin.com')
            img(src='/assets/images/linkedin.svg' alt='LinkedIn')
          a(href='https://www.instagram.com')
            img(src='/assets/images/instagram.svg' alt='Instagram')
        p GoHire CopyRight© 2025
  

block styles
  link(rel='stylesheet', href='/css/footer.css')
