mixin navbar(bgColor = '#FAFAFA', maxWidth = '1280px', width='90%', padding='0px 0px', currentPage = '')
  nav.navbar-container(style=`background-color: ${bgColor}`)
    div.navbar-contents(style=`max-width: ${maxWidth}; width: ${width}; padding: ${padding}`)
      a.logo-link(href='/')
        img.logo-img(src='/assets/images/logo.svg' alt='Logo' class='logo')
      ul.navbar-menu
        li: a.link(href='/jobs') Jobsdddd
        li.divider | 
        //- Auth links shown/hidden based on token, not page
        div.auth-links.auth-section
          li: a.link(href='/login') Login
          li.signup
            a.link.signup-btn(href='/signup')
              img(src='/assets/images/login-icon.svg' alt='Login Icon')
              span SignUp
        div.user-profile.auth-section.hidden
          li: a.link(href='/dashboard') Dashboard
          li: a.link.logout-btn(href='#') Logout

block styles
  link(rel='stylesheet', href='/css/navbar.css')

block scripts
  script(src='/js/navbar.js')