.about-contents {
  padding: 30px 0;
}

.about-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-text {
  font-size: 16px;
}

.about-info {
  padding-top: 30px;
  color: #606261;
}

.about-info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e2e8f0;
  gap: 10px;
  margin-bottom: 10px;
  padding: 20px 0;
  cursor: pointer;
}

#skills-list {
  margin-left: 0;
  margin-top: -20px;
  margin-bottom: 20px;
  padding-left: 10px;
  list-style-type: disc;
  color: #606261;
}
.skill-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid #e2e8f0;
  background-color: #f8f9fa;
  border-radius: 4px;
}

.skill-name {
  flex: 1;
  font-weight: 500;
}

.skill-years {
  flex: 0 0 100px;
  text-align: center;
  color: #666;
}

.edit-skill {
  flex: 0 0 24px;
  color: #606261;
}

.edit-education {
  flex: 0 0 24px;
  color: #606261;
}

.education-years {
  flex: 1;
  text-align: center;
  color: #666;
}
