* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: #1E2B3B;
  background-color: #FAFAFA;
}

.container {
  max-width: 1280px;
  margin: 100px auto;
  width: 90%;
}

li {
  list-style: none;
}

