.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: -5%;
  width: 100%;
}

.content {
  width: 45%;
  margin-top: -7%;
}

.content h1 {
  font-size: 68px;
  font-weight: 700;
  margin-bottom: 5%;
  line-height: 1.2;
}

.content span {
  color: #007aff;
}

.content p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.get-started {
  padding: 18px 24px;
  font-size: 18px;
  color: white;
  background-color: #007aff;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 250px;
  margin-top: 20px;
  margin-bottom: 6%;
  display: inline-block;
  text-decoration: none;
}

.get-started a {
  color: white;
  text-decoration: none;
}

.get-started:hover {
  background-color: #005bb5;
}

.data-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.data-img {
  width: 20%;
}

.active-users {
  margin-bottom: -7%;
}

.active {
  display: flex;
  gap: 4px;
  width: 70%;
  margin-bottom: 8px;
}

.active img {
  width: 30%;
  height: 30%;
  margin-bottom: -10%;
}

.img-container {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.img-container img {
  max-width: 100%;
  height: auto;
}

.brands-section {
  background-color: #f1f7fa;
  text-align: center;
  padding: 40px 10px;
  margin-top: -5%;
}
.brands-section span {
  color: #007aff;
}
.brands-section h2 {
  font-size: 24px;
  margin-bottom: 40px;
}
.features-section {
  margin-top: 10%;
  margin-bottom: 5%;
}
.features-section h2 {
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.feature {
  width: 32%;
  padding: 30px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 122, 255, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

@media (max-width: 960px) {
  .feature {
    width: 47%;
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .feature {
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }
}

.feature:hover {
  background-color: #007aff;
  color: white;
}

.feature:hover p {
  color: white;
}

.feature:hover img {
  filter: brightness(0) invert(1);
}

.feature-img {
  width: 50px;
  height: 40px;
  margin-bottom: 15px;
}

h3.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.account-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account-title {
  color: #007aff;
  font-size: 24px;
  font-weight: 500;
}

.header {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 10px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}
