.navbar {
  color: #1e2b3b;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.ul {
  max-width: 1280px;
  margin: 15px auto;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  color: #1e2b3b;
  font-size: 14px;
}
