.navbar {
  width: 100%;
  padding: 20px 20px;
  /* position: fixed; */
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e5eae8;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logo {
  height: 40px;
  margin-left: 20px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.navbar-menu li.divider {
  margin: 0 5px;
  color: #e5eae8;
  cursor: none;
}

.link {
  font-size: 14px;
  text-decoration: none;
}

.link:hover {
  text-decoration: none !important; 
}

.signup-btn {
  background-color: #007aff;
  color: white !important;
  padding: 8px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.signup-btn img {
  height: 16px;
}
