body, html {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

.signUp-container {
  display: flex;
  height: 100vh;
}

.signUp-left, .signUp-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp-left {
  background-color: #f8f8f8;
}

.login-img {
  max-width: 100%;
  height: auto;
}

.signUp-right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signUp-right .logo {
  margin-bottom: 20px;
}

.signUp-form {
  width: 100%;
  max-width: 500px;
  margin-top: 30px;
}

.text-field-container {
  margin-bottom: 20px;
  position: relative; /* This ensures the eye icon is correctly positioned */
}

.mui-textfield {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.mui-textfield:focus {
  border-color: #007aff; /* Highlight input on focus */
  outline: none;
}

.mui-textfield.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.signUp-btn {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: white;
  background-color: #007aff;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.signUp-btn:hover {
  background-color: #005bb5;
}

.already-have-account {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-link {
  color: #007aff;
  margin-left: 5px;
}
