.tab-container {
  margin-top: 15px;
  padding: 20px;
}

.tab-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #e2e8f0;
}

.tab-item {
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: none;
  margin-right: 35px;
}

.tab-item.active {
  border-bottom-color: #007aff;
  border-bottom: 2.5px solid #007aff;
  color: #007aff;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.job-tab-container {
  margin: 30px 0;
}

.job-tab-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 20px;
}

.job-tab-item {
  margin-right: 20px;
  cursor: pointer;
  border-bottom: none;
  margin-right: 20px;
  padding: 5px 15px;
  border: 1px solid #e2e8f0;
  border-radius: 20px;
  font-size: 15px;
}

.job-tab-item.active {
  background-color: #007aff;
  color: #fff;
  border: 1px solid #007aff;
}

.job-tab-pane {
  display: none;
}

.job-tab-pane.active {
  display: block;
}
