extends ../layouts/main-layout

block content
  h1.title Dashboardhhh
  p This is the dashboard page

block scripts
  script(src='/js/dashboard.js')

block styles
  link(rel='stylesheet', href='/css/dashboard.css')

