extends ../layouts/main-layout

block content
  // Include the navbar component
  include ../components/navbar
  
  div.container
    h1.title Dashboard
    p This is the dashboard page

  // Include the footer component
  include ../components/footer

block scripts
  script(src='/js/dashboard.js')

block styles
  link(rel='stylesheet', href='/css/dashboard.css')

