extends ../layouts/main-layout

block content
  // Include the navbar component
  include ../components/navbar

  h1.title Home
  p This is the updated Home page

  // Include the footer component
  include ../components/footer

block scripts
  script(src='/js/home-page.js')

block styles
  link(rel='stylesheet', href='/css/home-page.css')
