extends ../layouts/main-layout

block content

  div.container
    h1.title Home
    p This is the updated Home page

block scripts
  script(src='/js/home-page.js')

block styles
  link(rel='stylesheet', href='/css/home-page.css')