extends ../layouts/main-layout

block content
  h1.title Home
  p This is the Home page

block scripts
  script(src='/js/home-page.js')

block styles
  link(rel='stylesheet', href='/css/home-page.css')


