extends ../layouts/main-layout

block content
  // Include the navbar component
  include ../components/navbar
  
  div.container
    h1.title Kickstart Your Career Journey
    search 
      input(type='text', placeholder='Search for jobs')
      button.search-btn Search
    hr  
    p This is the jobs page

  // Include the footer component
  include ../components/footer

block scripts
  script(src='/js/jobs.js')

block styles
  link(rel='stylesheet', href='/css/jobs.css')