extends ../layouts/main-layout

block content
  div.container
    h1.title Kickstart Your Career Journey
    form.search-form
      div.input-group
        input.input(type='text', placeholder='Job titles')
        input.input(type='text', placeholder='Location')
        button.search-btn(type='submit')
          i.fas.fa-search
    hr.hr 
    div.card-section
      div.card-container
        // Job cards will be dynamically rendered here by jobs.js
      div.card-details
        div.details-container
          div.card-header-wrapper
            div.card-header
              div.company-details
                img(src='/assets/images/asma-logo.svg', alt='Company Logo')
                p.company-name // Placeholder for company name
              div.bookmark-icon  
                i.fa-regular.fa-bookmark
            div.details-btn  
              div 
                h2.job-title // Placeholder for job title
                div.job-details
                  p.job-location // Placeholder for job location
                  p.job-type (Full-time)
              button.easy-apply.modal-trigger(data-target='#modal-apply', style='cursor: pointer;') Easy Apply
          div.job-data 
            p.job-description // Placeholder for job description

    // Include the modal component for job application
    div#modal-apply.modal-overlay.hidden
      div.modal
        div.modal-header
          h2.modal-title Apply for Job
          span.modal-close &times;
        div.modal-body
          form#application-form
            div.names
              div.form-group.name
                label(for='firstName') First Name
                input#firstName(type='text', name='firstName', placeholder='Mark', required)
              div.form-group.name
                label(for='lastName') Last Name
                input#lastName(type='text', name='lastName', placeholder='Evans', required)
            div.form-group
              label(for='email') Email
              input#email(type='email', name='email', placeholder='mark@gmail.com', required)
            div.form-group
              label(for='phone') Phone Number
              input#phone(type='tel', name='phone', placeholder='09066688888', required)
            div.form-group
              label(for='resume') Upload Resume
              input#resume(type='file', name='resume', accept='.pdf,.doc,.docx', required)
              small.help-text Accepted formats: PDF, DOC, DOCX (Max 5MB)
            div.form-group
              label(for='additionalFile') Additional File (Optional)
              input#additionalFile(type='file', name='additionalFile', accept='.pdf,.doc,.docx')
              small.help-text Accepted formats: PDF, DOC, DOCX (Max 5MB)
            div.checkbox
              input#isAgreeToPrivacyPolicy(type='checkbox', name='isAgreeToPrivacyPolicy', required)
              label(for='isAgreeToPrivacyPolicy') I agree to the privacy policy 

        div.modal-footer
          button.modal-close-btn(type='button') Cancel
          button.modal-save-btn(type='button') Submit Application            

block styles
  link(rel='stylesheet', href='/css/jobs.css')
  link(rel='stylesheet', href='/css/global-styles.css')
  link(rel='stylesheet', href='/css/modal.css')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")


block scripts
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src='https://cdn.jsdelivr.net/npm/yup@0.32.9/dist/yup.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js")
  script(src='/js/jobs.js')