extends ../layouts/main-layout

block content
  div.container
    h1.title Kickstart Your Career Journey
    form.search-form
      div.input-group
        input.input(type='text', placeholder='Job titles')
        input.input(type='text', placeholder='Location')
        button.search-btn(type='submit')
          i.fas.fa-search
    hr.hr 
    div.card-section
      div.card-container
        // Job cards will be dynamically rendered here by jobs.js
      div.card-details
        div.details-container
          div.card-header-wrapper
            div.card-header
              div.company-details
                img(src='/assets/images/asma-logo.svg', alt='Company Logo')
                p.company-name // Placeholder for company name
              div.bookmark-icon  
                i.fa-regular.fa-bookmark
            div.details-btn  
              div 
                h2.job-title // Placeholder for job title
                div.job-details
                  p.job-location // Placeholder for job location
                  p.job-type (Full-time)
              button.easy-apply Easy Apply
          div.job-data 
            p.job-description // Placeholder for job description

block scripts
  script(src='/js/jobs.js')

block styles
  link(rel='stylesheet', href='/css/jobs.css')