extends ../layouts/main-layout

block content
  // Include the navbar component
  include ../components/navbar
  
  div.container
    h1.title Kickstart Your Career Journey
    form.search-form
      div.input-group
        input.input(type='text', placeholder='Job titles')
        input.input(type='text', placeholder='Location')
        button.search-btn(type='submit')
          i.fas.fa-search
    hr.hr 
    p This is the jobs page

  // Include the footer component
  include ../components/footer

block scripts
  script(src='/js/jobs.js')

block styles
  link(rel='stylesheet', href='/css/jobs.css')