extends ../layouts/main-layout

block content
  // Include the textField component
  include ../components/textField

  .login-container
    .login-left
      img(src='/assets/images/LoginImg.png' alt='Login Image' class='login-img')

    .login-right
      div.logo
      img(src='/assets/images/logo.png' alt='Logo' class='logo')
      h2 Login to your account

      form.login-form(action='/dashboard/user')
        .form-group
          +textField('email', 'Enter your email', 'email', 'outlined')
        
        .form-group 
          +textField('password', 'Enter your password', 'password', 'outlined')

        .form-group 
          a.forgot-password(href='') Forgot Password?
        button.login-btn(type='submit') Login

      p.dont-have-account
        span Don't have an account?
        a.signup-link(href='/signUp') Sign Up

block styles
  link(rel='stylesheet', href='/css/login.css')

block scripts
  script(src='https://cdn.jsdelivr.net/npm/yup@0.32.9/dist/yup.min.js')
  script(src='/js/login.js')