extends ../layouts/main-layout

block content
  h1.title register
  p This is the register page

block scripts
  script(src='/js/register.js')

block styles
  link(rel='stylesheet', href='/css/register.css')


