extends ../../layouts/dashboard-layout

block content
  - var currentPage = 'admin'

    // Include the sidebar component and pass the currentPage variable
  include ../../components/sidebar

  div.contents
    div.card-container
      // Include the card component and pass props
      include ../../components/admin-card
      +adminCard('/assets/images/admin-card3.svg', 'Total Number of Jobs', '15')
      +adminCard('/assets/images/admin-card2.svg', 'Total Approved Jobs', '10')
      +adminCard('/assets/images/admin-card1.svg', 'Total Pending Jobs', '5')
    div.table-container 
      div.table-header  
        p.table-title Jobs 
        div.create-job.modal-trigger(data-target='#modal-skills', style='cursor: pointer;')
          button.btn.modal-trigger(data-target='#modal-skills', style='cursor: pointer;')
            i.fa-solid.fa-plus
            p Create Job

block scripts
  script(src='/js/admin.js')

block styles
  link(rel='stylesheet', href='/css/admin.css')