extends ../../layouts/dashboard-layout

block content
 
  div.contents
    h1.title Admin Dashboard
    p This is the admin dashboard page content.

block scripts
  script(src='/js/admin.js')

block styles
  link(rel='stylesheet', href='/css/admin.css')