extends ../../layouts/dashboard-layout

block content
  - var currentPage = 'admin'

  // Include the sidebar component and pass the currentPage variable
  include ../../components/sidebar

  div.contents
    div.card-container
      // Include the card component and pass props
      include ../../components/admin-card
      +adminCard('/assets/images/admin-card3.svg', 'Total Number of Jobs', '15')
      +adminCard('/assets/images/admin-card2.svg', 'Total Approved Jobs', '10')
      +adminCard('/assets/images/admin-card1.svg', 'Total Pending Jobs', '5')
    div.table-container 
      div.table-header  
        p.table-title Jobs 
        div.create-job.modal-trigger(data-target='#modal-create-job', style='cursor: pointer;')
          button.btn.modal-trigger(data-target='#modal-create-job', style='cursor: pointer;')
            i.fa-solid.fa-plus
            p Create Job

      // Include the table component and pass the title, headers, and rows
      include ../../components/table
      +table(['Job Title', 'Company', 'Date Posted', 'Location', 'Status', 'Action' ], [])

    // Include the modal component for create job
    div#modal-create-job.modal-overlay.hidden
      div.modal
        div.modal-header
          h2.modal-title Create Job
          span.modal-close &times;
        div.modal-body
          form#create-job-form
            div.form-group
              label(for='title') Job Title
              input(type='text', name='title', id='title', placeholder='Data Analyst', required)
            div.form-group
              label(for='company') Company Name
              input(type='text', name='company', id='company', placeholder='Google', required)
            div.form-group
              label(for='location') Location
              input(type='text', name='location', id='gps', placeholder='London, UK', required)
            div.form-group
              label(for='description') Job Description
              textarea(name='description', id='description', placeholder='Job Description', required)
            div.modal-footer
              button.modal-close-btn Cancel
              button.modal-save-btn(type='submit') Save


block styles
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
  link(rel='stylesheet', href='/css/admin.css')
  link(rel='stylesheet', href='/css/modal.css')
  link(rel='stylesheet', href='/css/global-styles.css')


block scripts
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js")
  script(src='/js/admin.js')
  script(src='/js/modal.js')