div
  div.empty-job-state
    h1.job-title You have not applied for any jobs yet
    p Find new opportunities and manage your job search progress here.
    ul.link-wrapper
        li: a.job-link(href='/jobs') Browse Jobs

block styles
  link(rel='stylesheet', href='/css/my-jobs.css')  