block content
  div.job-contents
    div.title-wrapper
      h1.job-title My Jobs
      p.job-text See all your job application activities here

    // Include the tab component for My Jobs
    include ../../../../components/job-tab

    // Tab component for My Jobs
    +tabJobsComponent([
      { id: 'tabjob1', title: 'Saved Jobs' },
      { id: 'tabjob2', title: 'Applied Jobs' }
    ])

block scripts
  script(src='/js/job-tab.js')

block styles
  link(rel='stylesheet', href='/css/my-jobs.css')