extends ../../../layouts/dashboard-layout

block content
 
  div.contents
    h1.title about
    p This is the about dashboard page content.

block scripts
  script(src='/js/about.js')

block styles
  link(rel='stylesheet', href='/css/about.css')