extends ../../../layouts/dashboard-layout

block content
 
  div.contents
    h1.title resume
    p This is the my resume page content.

block scripts
  script(src='/js/resume.js')

block styles
  link(rel='stylesheet', href='/css/resume.css')