block content
  div.resume-contents
    div.title-wrapper
      h1.resume-title Resume
      p.resume-text Upload your resume

    div.upload-wrapper
      label.upload-label(for='resume-upload')
        i.fas.fa-plus.resume-icon
        span.upload-text Upload resume
      input#resume-upload(type='file', accept='.pdf,.doc,.docx', style='display: none;')
      span.file-wrapper
        i.fa-solid.fa-file.resume-file
        p.file-name No file chosen

block scripts
  script(src='/js/resume.js')

block styles
  link(rel='stylesheet', href='/css/resume.css')